

.wiki-logo{
  width:150px;
  height:150px;
}

.sidebar{
  list-style: none;
}

.border{
  border: 2px solid #ccffff;

}

img{
  width:100px;
  height: 100px;
}


h3{
border: 1px solid #ccffff;
background: #c6e2ff;

}
a {
float: right;
padding: 5px;
}
